<section class="aboutus">
	<div class="container">
		<div class="row justify-content-center">
			<div class="aboutus-card col-md-7">
				<h1 class="text-center">About Us</h1>
				<p>We are <span class="teamName"> Hactivists! </span></p>
				<p>
					This pod is made by passionate and diverse group of people from each
					corner of the world and we are lead by Grace Omotoso. We believe that
					each person has a unique story and we want to share that with you by
					using our technical skills.
				</p>
				<p>
					The Prep Program is designed to quickly build technical skill and
					experience for candidates who wish to pursue the full MLH Fellowship
					in the future.
				</p>
			</div>
		</div>
	</div>
</section>
