<h2>
  LeaderBoard
</h2>

<div class="leaderboard-table">
  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Team</th>
      <th scope="col">Member 1</th>
      <th scope="col">Member 2</th>
      <th scope="col">PRs Merged</th>
    </tr>
  </thead>
  <tbody id="leaderboard-tablebody">

  </tbody>
</table>
</div>

<script>
let vara=-1;

let teams = 
[
  {
    "team": 1,
    "username1": "Yuheng Wu",
    "username2": "Abdulrahman Yusuf",
    "username1git": "iamwyh2019",
    "username2git": "Young-Einstein10",
    "PRs": -1
  },
  {
    "team": 2,
    "username1": "Ojuswi Rastogi",
    "username2": "Gaurav Kumar",
    "username1git": "OjusWiZard",
    "username2git": "GrayFlash",
    "PRs": -1
  },
  {
    "team": 3,
    "username1": "Adarsh Naidu",
    "username2": "Priya Bihani",
    "username1git": "adarshnaidu",
    "username2git": "PriyaBihani",
    "PRs": -1
  },
  {
    "team": 4,
    "username1": "Akshita Dixit",
    "username2": "Shubham Bhardwaj",
    "username1git": "akshitadixit",
    "username2git": "Shubh4m-B",
    "PRs": -1
  },
  {
    "team": 5,
    "username1": "Sumana Basu",
    "username2": "Hou Chi Chan",
    "username1git": "sumana2001",
    "username2git": "SciencePotato",
    "PRs": -1
  },
  {
    "team": 6,
    "username1": "Sai Keshari",
    "username2": "Neha Kumari",
    "username1git": "saikeshari",
    "username2git": "neha-93",
    "PRs": -1
  }
]

function compare( a, b ) {
  if ( a.PRs > b.PRs ){
    return -1;
  }
  return 1;
}



  const fetchGithubStats = () => {
    const requests = teams.map((team,index) => {
      return axios.get('https://api.github.com/repos/MLH-Fellowship/pod-4.1.3-portfolio/issues', {
        params: {
        assignee: team.username1git,
        state:"closed"
      }
      })
      .then(response => {
        vara=response.data.length;
        teams[index].PRs=vara;
      })
      .catch(error => console.log(error));
    })

    return Promise.all(requests).then(() => {
      teams.sort(compare);
      const par=document.getElementById('leaderboard-tablebody');
      teams.map((team,index) => {
        var tableRow = document.createElement("tr");
        var rank = document.createElement("td");
        rank.innerHTML=index+1;
        var teamName = document.createElement("td");
        teamName.innerHTML="Team " + team.team;
        var username1 = document.createElement("td");
        username1.innerHTML=team.username1;
        var username2 = document.createElement("td");
        username2.innerHTML=team.username2;
        var count = document.createElement("td");
        count.innerHTML=team.PRs;
        tableRow.append(rank,teamName,username1,username2,count);
        par.append(tableRow);
      })
  });
}

fetchGithubStats();

</script>