<h2>
  LeaderBoard
</h2>

<div class="leaderboard-table">
  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team</th>
      <th scope="col">Member 1</th>
      <th scope="col">Member 2</th>
      <th scope="col">PRs Merged</th>
    </tr>
  </thead>
  <tbody>

    {% for item in site.data.github_details %}

    <tr>
      <th scope="row">{{item.rank}}</th>
      <td>Team {{item.team}}</td>
      <td>
        <a href={{item.username1git}} target="_blank">{{item.username1}}</a>
      </td>
      <td>
        <a href={{item.username2git}} target="_blank">{{item.username2}}</a>
      </td>
      <td id='PRs-{{item.team}}'>
        <!-- {{item.PRs}} -->
        {{vara}}
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
</div>

<script>
  let vara=-1;

  let teams = [ 
  {
    team: 1,
    username: "iamwyh2019",
    count: 0
  },
  {
    team: 2,
    username: "OjusWiZard",
    count: 0
  },
  {
    team: 3,
    username: "adarshnaidu",
    count: 0
  },
  {
    team: 4,
    username: "akshitadixit",
    count: 0
  },
  {
    team: 5,
    username: "sumana2001",
    count: 0
  },
  {
    team: 6,
    username: "saikeshari",
    count: 0
  }
]


  const fetchGithubStats = () => {
    const requests = teams.map((team,index) => {
      return axios.get('https://api.github.com/repos/MLH-Fellowship/pod-4.1.3-portfolio/issues', {
        params: {
        assignee: team.username,
        state:"closed"
      }
      })
      .then(response => {
        vara=response.data.length;
        const temp=document.getElementById('PRs-' + (index+1));
        teams[index].count=vara;
        console.log(teams);
        temp.innerHTML = vara;
        console.log(response.data);
      })
      .catch(error => console.log(error));
    })

    return Promise.all(requests).then(() => {
      console.log("map done");
  });
    
  }

  fetchGithubStats();
  
</script>