<header class="nav-bar">
    <a href="{{ '/' | relative_url }}" class="Logo">
        <div class="nav-logo">
            <img src="./assets/img/mlh-prep.png" />
        </div>
    </a>
    <div class="nav-container">
        <div class="brand">
            <a href="{{ '/' | relative_url }}">
                <div class="nav-logo">
                    <img src="./assets/img/mlh-prep.png" />
                </div>
            </a>
        </div>
        <nav>
            <div class="nav-mobile"><a id="navbar-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
                <li>
                    <a href="#!">Home</a>
                </li>
                <li>
                    <a href="#!">About</a>
                </li>
                <li>
                    <a href="#!">Services</a>
                    <ul class="navbar-dropdown">
                        <li>
                            <a href="#!">Sass</a>
                        </li>
                        <li>
                            <a href="#!">Less</a>
                        </li>
                        <li>
                            <a href="#!">Stylus</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#!">Portfolio</a>
                </li>
                <li>
                    <a href="#!">Category</a>
                    <ul class="navbar-dropdown">
                        <li>
                            <a href="#!">Sass</a>
                        </li>
                        <li>
                            <a href="#!">Less</a>
                        </li>
                        <li>
                            <a href="#!">Stylus</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#!">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<script src="https://code.jquery.com/jquery-latest.js"></script>

<script type="text/javascript">

    // script to animate the visibility of the navbar here
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        // console.log(document.documentElement.scrollTop);
        if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
            document.getElementsByClassName("nav-bar")[0].style.top = "0";
        } else {
            document.getElementsByClassName("nav-bar")[0].style.top = "-200px";
        }
    }

</script>