<h2 class="projects-heading" id="project-section" data-aos="fade-up" data-aos-duration="500">
  Projects
</h2>
<div class="card-container" data-aos="fade-up" data-aos-duration="700">
  {% for item in site.data.projects %}
  <div class="card project-card">
    <a href="/projects/{{ item.page-name }}">
      <div class="img">
        <img src="../assets/img/{{ item.img }}" alt="" id="image" />
      </div>
      <div class="content">
        <h2>{{item.title}}</h2>
        <p class="event">{{item.event}}</p>
        <p class="date">{{item.date}}</p>
        <div class="icons">
          <a class="project-button" href="{{ item.demo-link }}"
            ><i class="fab fa-youtube">
              <span>Youtube Link</span>
            </i></a
          >
          <a class="project-button" href="{{ item.project-link }}"
            ><i class="fas fa-link">
              <span>Description</span>
            </i></a
          >
          <a class="project-button" href="{{ item.github-link }}"
            ><i class="fab fa-github">
              <span>Github</span>
            </i></a
          >
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>