.fellow-container-heading {
	font-size: 2.4rem;
}

.fellow-cards-container {
	.fellow-container {
		display: inherit;
	}

	& .card {
		position: relative;
		width: 300px;
		height: 350px;
		background: rgb(252, 70, 107);
		background: radial-gradient(
			circle,
			rgba(252, 70, 107, 1) 10%,
			rgba(63, 94, 251, 1) 100%
		);
		margin: 10px;
		border-radius: 20px;
		overflow: hidden;
		cursor: pointer;

		&:hover .imgBx {
			transform: translateY(30px) scale(0.5);
		}

		& .imgBx {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: 0.5s;
			z-index: 1;
			border-radius: 20px;
			overflow: hidden;
			transform-origin: top;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		& .content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			padding-bottom: 10px;
			transform: translateY(100%);
			transition: 0.5s;

			& .details {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				text-align: center;

				h2 {
					color: #fff;
					font-size: 1.3em;
					font-weight: 500;
					margin-bottom: 0px;
					a {
						color: #fff;
					}
				}
				h6 {
					color: #fff;
					margin-top: 0px;
				}

				& .social_icons {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: 5px;
					padding-left: 15px !important;

					li {
						list-style: none;
						margin: 4px;
						a {
							width: 45px;
							height: 45px;
							display: flex;
							justify-content: center;
							align-items: center;
							background: #294d69;
							border-radius: 50%;
							font-size: 1.5em;
							color: #fff;
							text-decoration: none;
							transition: 0.5s;
							&:hover {
								transform: rotate(360deg);
								background: #03a9f4;
							}
						}
					}
				}
			}
		}

		&:hover .content {
			transform: translateY(0);
		}
	}
}
